@mixin inline-animation($duration)
  $name: inline-#{unique-id()}

  @keyframes #{$name}
    @content
  animation-name: $name
  animation-duration: $duration
  animation-iteration-count: once

.fade-in
  @include inline-animation(500)
    from
      opacity: 0
    to
      opacity: 1

.square
    width: 100px
    height: 100px
    background-color: red

.alert-box
  position: absolute
  left: 0
  display: flex
  width: 100vw
  padding: 10px
  height: 30px
  z-index: 100
  background-color: yellow